.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.html
.pdf
.docx
.idea
data/source/*
data/check_assays_pMHC/*
scripts/java/PASSExperiments/out
data/bind_train_dataset/*
notebooks/lit_review/_book/*
logs/*
notebooks/.ipynb_checkpoints/*
renv*
notebooks/lit_review/.quarto/
.ipynb_checkpoints/*
iedb_public_erd.pdf

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
