.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
data/source/*
notebooks/lit_review/_book/*
reports/*
logs/*
notebooks/.ipynb_checkpoints/*
renv*
notebooks/lit_review/.quarto/
.html
.pdf
.docx
.ipynb_checkpoints/*